@font-face {
   font-family: 'SuisseIntl-Regular';
   font-display: swap;
   src: url('file:///C:/Users/ugwua/AppData/Local/Mobirise.com/Mobirise/projects/project-2024-02-29_085259/fonts/SuisseIntl-Regular/font.ttf');
}
